[MASTER]
load-plugins = pylint_django
ignore = migrations,venv,node_modules,static
jobs = 0


init-hook =
    import os, sys
    sys.path.append(os.getcwd())
    os.environ.setdefault('DJANGO_SETTINGS_MODULE','MiniF.settings')
    import django

[MESSAGES CONTROL]

enable = E0602,W0612,C0103,C0301,R0913,R0914,R0915,E1101,C0115,C0116

disable =
    R0903,        
    C0114,        
    W0611

[FORMAT]
max-line-length = 120
indent-string = '    '

[BASIC]
good-names = i,j,k,_,pk,id
module-rgx = ([a-z_][a-z0-9_]*|[A-Z][A-Za-z0-9]+)$
variable-rgx = [a-z_][a-z0-9_]{2,30}$
function-rgx = [a-z_][a-z0-9_]{2,30}$
class-rgx = [A-Z][a-zA-Z0-9]+$
const-rgx = ([A-Z_][A-Z0-9_]*)

[TYPECHECK]

ignored-modules = django.http,django.db
ignored-classes = django.db.models

[REPORTS]
score = no

[DESIGN]
max-args = 5
max-locals = 15
max-statements = 50
