asgiref==3.9.1
black==24.10.0
channels==4.1.0
channels-redis==4.2.0
coverage==7.6.8
daphne==4.1.0
dj-rest-auth
Django==4.2.24
django-allauth
django-environ==0.11.2
djangorestframework==3.15.2
django-elasticsearch-dsl==7.4
django-elasticsearch-dsl-drf==0.22.5
djangorestframework-simplejwt==5.3.1
mongoengine==0.29.1
psycopg2-binary==2.9.10
pylint==3.2.7
pylint-django==2.6.1
pymongo==4.10.1
requests
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
